@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Space+Mono&display=swap');

@import "tailwindcss";
@config "../../tailwind.config.mjs";

@layer base {
  :root {
    --shiki-color-text: var(--color-white);
    --shiki-token-constant: var(--color-iroh-purple-300);
    --shiki-token-string: var(--color-iroh-purple-300);
    --shiki-token-comment: var(--color-zinc-500);
    --shiki-token-keyword: var(--color-sky-300);
    --shiki-token-parameter: var(--color-pink-300);
    --shiki-token-function: var(--color-violet-300);
    --shiki-token-string-expression: var(--color-iroh-purple-300);
    --shiki-token-punctuation: var(--color-zinc-200);
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .in-prose {
    max-width: 50rem;
    margin-left: calc(50% - min(50%, 33rem));
    margin-right: calc(50% - min(50%, 33rem));
  }
}
