{% extends "layout.html" %}

{% block content %}
<div class="flex items-center flex-col mt-10">
  <h1 class="text-2xl text-bold mb-6">
    {{ section.title }}
  </h1>
  <div class="flex flex-col gap-y-6 w-full px-4 sm:w-2/3">
    {% if paginator %}
    {% set pages = paginator.pages %}
    {% else %}
    {% set pages = section.pages %}
    {% endif %}

    {% for page in pages %}
      <div >
        <div class="flex flex-col py-2 justify-center">
          <h2 class="text-2xl text-bold"><a href='{{ page.permalink }}'>{{ page.title }}</a></h2>
          <p class="text-bold">{{ page.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block pagination %}
{% if paginator.previous or paginator.next %}
  <!-- TODO -->
{% endif %}
{% endblock %}